@page "/Grid"
@model VerbalCards.Pages.Grid
@{
    ViewData["Title"] = "Grid - VerbalCards";
    Layout = "Shared/_Layout";
}

<div class="center_blank">
    <h2>Download audio files shown in grid</h2>
    
    <br/>
    
    <div class="container">
        @foreach (var item in Model.AudioItems)
        {
            <div class="item pink">
                <p>@item.Filename</p>
                <audio controls>
                    <source src="/audio/get/@item.Id" type="@item.ContentType">
                    Your browser does not support the audio element.
                </audio>
            </div>
        }
    </div>
</div>

